{% extends 'base.html.twig' %}

{% block title %}Successful registration!{% endblock %}

{% block main %}
    <h1>Successful registration!</h1>

    <p>Message with link to the confirmation page has been send. Please, check your email.</p>
    <p>Your can close this page.</p>
{% endblock %}
