{% extends 'base.html.twig' %}

{% block title %}New File{% endblock %}

{% block body %}
    <h1>Create new File</h1>

    {{ include('file/_form.html.twig') }}

    <a href="{{ path('project_show', { 'id': task.project.id }) }}">back to list</a>
{% endblock %}
