{% extends 'base.html.twig' %}

{% block title %}Admin panel{% endblock %}

{% block body %}
    <div class="text-center ">
        <div class="panel panel-default">
            <div class="userprofile social ">
                {% if company.logo %}

                    <div class="userpic"><img src="{{ asset('uploads/img/company/' ~ company.logo) }}" alt="" class="userpicimg"></div> {#ToDo error with logo#}
                {% else %}
                    <div class="userpic"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt=""
                                              class="userpicimg"></div>
                {% endif %}
                <h3 class="username">{{ company.name }}</h3>
            </div>
            <div class="col-md-12 border-top border-bottom">
                <a href="{{ path('company_edit', {'id': company.id}) }}" class="btn btn-primary followbtn"> <i
                            class="fas fa-edit"></i> EDIT</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <div class="counter">
                    <i class="fa fa-coffee fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="{{tasks.all}}" data-speed="1500"></h2>
                    <p class="count-text ">All tasks</p>
                </div>
            </div>
            <div class="col">
                <div class="counter">
                    <i class="fa fa-briefcase fa-2x" aria-hidden="true"></i>
                    <h2 class="timer count-title count-number" data-to="{{tasks.inWork}}" data-speed="1500"></h2>
                    <p class="count-text ">Tasks in work</p>
                </div>
            </div>
            <div class="col">
                <div class="counter">
                    <i class="fa fa-code fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="{{tasks.done}}" data-speed="1500"></h2>
                    <p class="count-text ">Tasks Complete</p>
                </div></div>
        </div>
    </div>
    </div>
    <div class="col-md-12">
        <h2>Admin panel</h2>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="departments-tab" data-toggle="tab" href="#departments" role="tab"
                   aria-controls="departments" aria-selected="true">Departments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="users-tab" data-toggle="tab" href="#users" role="tab"
                   aria-controls="users" aria-selected="true">Users</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="departments" role="tabpanel" aria-labelledby="departments-tab">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6" style="text-align: center">
                        <a href="{{ path('department_new') }}" class="btn btn-success create-button">CREATE
                            DEPARTMENT</a>
                    </div>
                </div>

                <div class="table-section">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col" width="80%">Name</th>
                            <th scope="col" width="20%">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, department in departments %}
                            <tr>
                                <th scope="row">{{ department.name }}</th>
                                <td>
                                    <div class="row">
                                        <button class="btn btn-icon btn-glow-warning btn-warning"
                                                style="margin-right: 20px"
                                                onclick="location.href = '{{ path('department_edit', {'id': department.id}) }}'">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        {{ include('admin/department/_delete_form.html.twig') }}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade show" id="users" role="tabpanel" aria-labelledby="users-tab">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6" style="text-align: center">
                        <a href="{{ path('admin_user_create') }}" class="btn btn-success create-button">CREATE USER</a>
                    </div>
                </div>

                <div class="table-section">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col" width="20%">First name</th>
                            <th scope="col" width="20%">Last name</th>
                            <th scope="col" width="20%">Department</th>
                            <th scope="col" width="20%">Role</th>
                            <th scope="col" width="20%">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, user in users %}
                            {% if user.getRole != 'ROLE_ADMIN' %}
                                <tr>
                                    <th scope="row">{{ user.firstName }}</th>
                                    <th scope="row">{{ user.lastName }}</th>
                                    <th scope="row">{{ user.getDepartment.name }}</th>
                                    <th scope="row">{{ user.showRole }}</th>
                                    <td>
                                        <div class="row">
                                            <button class="btn btn-icon btn-glow-warning btn-warning"
                                                    style="margin-right: 20px"
                                                    onclick="location.href = '{{ path('admin_user_edit', {'id': user.id}) }}'">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            {{ include('admin/user/_delete_form.html.twig') }}
                                        </div>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
