<h3 align="center">Search Filter</h3>
<form class="form-horizontal" action="{{ path('project_show', {'id': project.id}) }}">
    <div class="form-group">
        <label for="location1" class="control-label">Name Task</label>
        <input name="name" class="form-control" type="search">
    </div>
    <div class="form-group">
        <label for="type1" class="control-label">Type</label>
        <select name="status" class="form-control" name="" id="type1">
            <option value="">All</option>
            <option value="STATUS_NEW">New</option>
            <option value="STATUS_IN_WORK">In work</option>
            <option value="STATUS_CHECKED">Checed</option>
            <option value="STATUS_DONE">Done</option>
        </select>
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Serch</button>
    </div>
</form>
