{% extends 'base.html.twig' %}

{% block title %}Task index{% endblock %}

{% block body %}
<h1>Task index</h1>

{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('task_new_leader') }}" class="btn btn-success">NEW TASK</a>
{% endif %}

<div class="row text-center">
    <div class="col-md-12">
        <h3 align="center">Search Filter</h3>
        <form class="form-horizontal" action="{{ path('task_index') }}">
            <div class="form-group">
                <label for="location1" class="control-label">Name Task</label>
                <input name="name" class="form-control" type="search">
            </div>
            <div class="form-group">
                <label for="type1" class="control-label">Type</label>
                <select name="status" class="form-control" id="type1">
                    <option value="">All</option>
                    <option value="STATUS_NEW">New</option>
                    <option value="STATUS_IN_WORK">In work</option>
                    <option value="STATUS_CHECKED">Checed</option>
                    <option value="STATUS_DONE">Done</option>
                </select>
            </div>
            <div class="form-group">
                <label for="type1" class="control-label">Projects</label>
                <select name="project" class="form-control" id="type1">
                    <option value="">All</option>
                    {% for project in projects %}
                        <option value="{{project.id}}">{{project.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Serch</button>
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Status</th>
        <th>Project</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
    <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.name }}</td>
        <td>{{ task.description }}</td>
        <td>
            {% if(task.status == 'STATUS_NEW') %}
                <p style="color: brown">New</p>
            {% endif %}
            {% if(task.status == 'STATUS_IN_WORK') %}
                <p style="color: #607d8b">Work</p>
            {% endif %}
            {% if(task.status == 'STATUS_CHECKED') %}
                <p style="color: orange">Checked</p>
            {% endif %}
            {% if(task.status == 'STATUS_DONE') %}
                <p style="color: green">Done</p>
            {% endif %}
        </td>
        <td>
            <a href="{{ path('project_show', {'id': task.project.id}) }}"> {{ task.project.name }} </a>
        </td>
        <td>
            <a href="{{ path('task_edit', {'id': task.id}) }}">edit</a>
        </td>
    </tr>
    {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{#<a href="{{ path('task_new') }}">Create new</a>#}
{% endblock %}
