{% extends 'base.html.twig' %}

{% block title %}New Task{% endblock %}

{% block body %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <select class="form-control" name="department" id="">
        {% for department in departments %}
        <option value="{{ department.id }}">{{department.name}}</option>
        {% endfor %}
    </select>
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
<a href="{{ path('task_index') }}">back to list</a>
{% endblock %}