{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block main %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" href="{{ path('start') }}">
                    <img src="{{ asset('img/logo1.png') }}" alt="Logo" style="height: 100px">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        {% if is_granted("ROLE_USER") %}
                            <li class="nav-item">
                                <a class="nav-link text-uppercase" href="{{ path('project_index') }}">Projects</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" href="{{ path('app_register') }}">Register</a>
                        </li>
                        <li class="nav-item">
                            {% if is_granted("ROLE_USER") %}
                                <a class="nav-link text-uppercase" href="{{ path('app_logout') }}">Logout</a>
                            {% else %}
                                <a class="nav-link text-uppercase" href="{{ path('app_login') }}">Login</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{ asset('img/deafault_project.png') }}" alt="" style="width: 100%">
            </div>
        </div>
    </div>
{% endblock %}
