{% extends 'base.html.twig' %}

{% block title %} Confirmation {% endblock %}

{% block main %}
<h3>You have been added to company!</h3>

Hi {{ user.firstName }}! You have been added to company!
    No, you have to change your password.

{# example, assuming you have a route named "login" #}
To do this, go to: <a href="{{ url('user_confirm', {'code': user.confirmationCode }) }}"> this link.</a>.

Thanks!
{% endblock %}

