{% extends 'base.html.twig' %}

{% block title %} Register {% endblock %}

{% block main %}
<h3>You did it! You registered!</h3>

Hi {{ user.firstName }}! You're successfully registered.

{# example, assuming you have a route named "login" #}
To login, go to: <a href="{{ url('app_email_confirm', {'code': user.confirmationCode }) }}">Email confirm!!!</a>.

Thanks!
{% endblock %}

