{% extends 'base.html.twig' %}

{% block title %}Edit Department{% endblock %}

{% block body %}
    <h1>Edit Department</h1>

    {{ include('admin/department/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin') }}">back to list</a>

    {{ include('admin/department/_delete_form.html.twig') }}
{% endblock %}
