{% extends 'base.html.twig' %}

{% block title %}New Department{% endblock %}

{% block body %}
    <h1>Create new Department</h1>

    {{ include('admin/department/_form.html.twig') }}

    <a href="{{ path('admin') }}">back to list</a>
{% endblock %}
