{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <h1>Projects</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('project_new') }}" class="btn btn-success">NEW PROJECT</a>

        <a href="{{ path('task_new_leader') }}" class="btn btn-success">NEW TASK</a>

    {% endif %}

    {% for projectGroup in projects|batch(3) %}
        <div class="row">
            {% for project in projectGroup %}
                <div class="col-md-4">
                    <div class="card">
                        {% if project.logo %}
                            <img src="{{ asset('uploads/img/project/' ~ project.logo) }}">
                        {% else %}
                            <img src="{{ asset('img/default_project.jpg') }}">
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title">
                                <a>
                                    {{ project.name }}
                                </a>
                            </h4>
                            <p class="card-text">
                                {{ project.description }}
                            </p>
                            <a href="{{ path('project_show', {'id': project.id}) }}" class="btn btn-primary">View</a>
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER')%}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('project_edit', {'id': project.id}) }}"
                                       class="btn btn-warning">Edit</a>
                                {% endif %}
                                <a href="{{ path('project_set_users', {'id': project.id}) }}"
                                   class="btn btn-warning">Set Employee</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
