{% extends 'base.html.twig' %}

{% block title %}Set Users{% endblock %}

{% block body %}
    <h1>Set Users</h1>

    {{ include('project/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('project_index') }}">back to list</a>

    {{ include('project/_delete_form.html.twig') }}
{% endblock %}
