{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <h3 class="text-center">Project progress "{{ project.name }}"
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('project_edit', {'id': project.id}) }}"
               class="btn btn-primary"><i class="fas fa-edit"></i></a>
        {% endif %}
        </button>
    </h3>
    <div class="progress" style="margin-bottom: 20px">
        <div class="progress-bar bg-success" role="progressbar" style="width: {{ tasksCount.done }}%"
             aria-valuenow="{{ tasksCount.done }}" aria-valuemin="0" aria-valuemax="100">{{ tasksCount.done }}%
            (done)
        </div>
        <div class="progress-bar bg-warning" role="progressbar" style="width: {{ tasksCount.checked }}%"
             aria-valuenow="{{ tasksCount.checked }}" aria-valuemin="0" aria-valuemax="100">{{ tasksCount.checked }}
            % (checked)
        </div>
    </div>
    <div class="row text-center" style="margin-bottom: 20px">
        <div class="col-md-2 text-center">
            <a class="btn btn-primary" href="{{ path('project_index') }}">BACK</a>
        </div>
        <div class="col-md-2 text-center">
        </div>
        <div class="col-md-4 text-center">
        </div>
        <div class="col-md-2 text-center">
        </div>
        <div class="col-md-2 text-center">
            <a href="{{ path('task_new', {'id': project.id}) }}" class="btn btn-success">CREATE TASK</a>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-12">
            {% include 'task/filtration.html.twig' with {'project': project } %}
        </div>
    </div>

    <div class="col-md-12 text-center">
        <ul class="nav nav-pills mb-3 text-center" id="pills-tab" role="tablist" style="margin-left: 44%">
            <li class="nav-item text-center">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                   aria-controls="pills-home" aria-selected="true">My tasks</a>
            </li>
            <li class="nav-item text-center">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                   aria-controls="pills-profile" aria-selected="false">Assigned tasks</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="col-md-12 text-center">
                    <div class="row">
                        <div class="col-md-3">
                            <h2>NEW</h2>
                            {% for task in doTasks %}
                                {% if(task.status == 'STATUS_NEW') %}
                                    {% include 'project/taskShow.html.twig' with {'status': task.status, 'user': user, 'bootstrap_id': 1 } %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col-md-3">
                            <h2>IN WORK</h2>
                            {% for task in doTasks %}
                                {% if(task.status == 'STATUS_IN_WORK') %}
                                    {% include 'project/taskShow.html.twig' with {'status': task.status, 'user': user, 'bootstrap_id': 1 } %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col-md-3">
                            <h2>CHECKED</h2>
                            {% for task in doTasks %}
                                {% if(task.status == 'STATUS_CHECKED') %}
                                    {% include 'project/taskShow.html.twig' with {'status': task.status, 'user': user, 'bootstrap_id': 1 } %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col-md-3">
                            <h2>DONE</h2>
                            {% for task in doTasks %}
                                {% if(task.status == 'STATUS_DONE') %}
                                    {% include 'project/taskShow.html.twig' with {'status': task.status, 'user': user, 'bootstrap_id': 1 } %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="col-md-12 text-center">
                    <div class="row">
                        <div class="col-md-3">
                            <h2>NEW</h2>
                            {% for task in authorTasks %}
                                {% if(task.status == 'STATUS_NEW') %}
                                    {% include 'project/taskShow.html.twig' with {'status': task.status, 'user': user, 'bootstrap_id': 2 } %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col-md-3">
                            <h2>IN WORK</h2>
                            {% for task in authorTasks %}
                                {% if(task.status == 'STATUS_IN_WORK') %}
                                    {% include 'project/taskShow.html.twig' with {'status': task.status, 'user': user, 'bootstrap_id': 2 } %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col-md-3">
                            <h2>CHECKED</h2>
                            {% for task in authorTasks %}
                                {% if(task.status == 'STATUS_CHECKED') %}
                                    {% include 'project/taskShow.html.twig' with {'status': task.status, 'user': user, 'bootstrap_id': 2 } %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col-md-3">
                            <h2>Done</h2>
                            {% for task in authorTasks %}
                                {% if(task.status == 'STATUS_DONE') %}
                                    {% include 'project/taskShow.html.twig' with {'status': task.status, 'user': user, 'bootstrap_id': 2 } %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {#    <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a>#}

    {#    {{ include('project/_delete_form.html.twig') }}#}
{% endblock %}
