<div class="card">
    <div class="card-header">
        {{ task.name }}
        <a class="a-edit" href="{{ path('task_edit', {'id': task.id}) }}"> <i
                    class="fas fa-edit"></i></a>
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="{{'#item1'~task.id~bootstrap_id}}">Description</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="{{'#item2'~task.id~bootstrap_id}}">Files</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="{{'#item3'~task.id~bootstrap_id}}">Comments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="{{'#item4'~task.id~bootstrap_id}}">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="{{'#item5'~task.id~bootstrap_id}}">Actions</a>
            </li>
        </ul>
    </div>
    <div class="card-body tab-content">
        <div class="tab-pane fade show active" id="{{'item1'~task.id~bootstrap_id}}">
            {{ task.description }}
        </div>
        <div class="tab-pane fade" id="{{'item2'~task.id~bootstrap_id}}">
            {% for file in task.files %}
                <li><a target="_blank" href="{{ asset('uploads/files/' ~ file.path) }}">{{ file.path }}</a>  {{ include('file/_delete_form.html.twig') }}</li>
            {% endfor %}
            <a class="btn btn-success" href="{{ path('file_new', {'id': task.id}) }}">Add file</a>
        </div>
        <div class="tab-pane fade" id="{{'item3'~task.id~bootstrap_id}}">
            <ul>
                {% for comment in task.getSortComments %}
                    {% if comment.deleted == false %}
                        <li>{{ comment.content ~ ' ' ~ comment.author.firstName ~ ' ' ~ comment.dateCreate|date("m/d/Y") }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            <a href="{{ path('comment_new', {'id': task.id}) }}">Add comment</a>
        </div>
        <div class="tab-pane fade" id="{{'item4'~task.id~bootstrap_id}}">
            <ul>
                {% for user in task.users %}
                    <li>{{ user.getFullName }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="tab-pane fade" id="{{'item5'~task.id~bootstrap_id}}">
            <ul>
                {% if(status == 'STATUS_NEW') %}
                    <li><a href="{{ path('task_accept', {'id': task.id}) }}"> Start work</a></li>
                {% elseif (status == 'STATUS_IN_WORK') %}
                    <li><a href="{{ path('task_checked', {'id': task.id}) }}">Send to check</a></li>
                {% elseif (status == 'STATUS_CHECKED') %}
                    {% if user.role == 'ROLE_MANAGER' or user.role == 'ROLE_ADMIN' or user in task.authors%}
                        <li><a href="{{ path('task_done', {'id': task.id}) }}">Mark as done</a></li>
                    {% endif %}
                    {% if user.role == 'ROLE_MANAGER' or user.role == 'ROLE_ADMIN' or user.role == 'ROLE_USER'%}
                        <li><a href="{{ path('task_accept', {'id': task.id}) }}">Return in work</a></li>
                    {% endif %}
                {% elseif (status == 'STATUS_DONE') %}
                    {% if user.role == 'ROLE_MANAGER' or user.role == 'ROLE_ADMIN' or user in task.authors%}
                        <li><a href="{{ path('task_accept', {'id': task.id}) }}">Return in work</a></li>
                        <li><a href="{{ path('task_checked', {'id': task.id}) }}">Return to check</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</div>