.collapse-content .fa.fa-heart:hover {
    color: #f44336 !important;
}
.collapse-content .fa.fa-share-alt:hover {
    color: #0d47a1 !important;
}

.card {
    margin-top: 30px;
}
.card img {
    height: 400px
}

.task-column {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.a-edit {
    float: right;
}

